<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About Us - BeautyCo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet" />
</head>
<body>
  <header class="site-header">
   
    <div class="video-cont">
      <div class="navcontainer">
        <div class="site-nav">
          <h1 class="logo">VÉRAÉ</h1>
          <ul>
            <li><a href="#">Shop VÉRAÉ</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <video id="video" autoplay muted loop>
        <source src="static/video/aboutvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <div class="text-cont">
        <p1>About 
          VÉRAÉ</p1>
      </div>
    </div>
    <div class="overlay">
      <p>We believe that beauty thrives in diversity and discovery.
      Our purpose is to champion a world of inspiration and inclusion where everyone can celebrate their beauty.</p>
    </div>
  </header>

  <section class="hero">
    <div class="container hero-content">
      <p2>HERITAGE</p2>
      <p>From the very beginning, our founder believed that Sephora could not only disrupt beauty retail, but that it would have a positive impact on the world.</p>
    </div>
   
  </section>

  <div class="aboutimg">
    <img class="imgabt" src="static/images/Screenshot from 2025-06-06 23-56-05.png">
    </div>  

  <div class="abt-section">
    <h3>Our Story</h3>
    <p>Founded in 2005, BeautyCo has revolutionized the beauty industry with a focus on innovation, quality, and inclusivity. Our products are designed to cater to all skin tones and types because beauty is universal.</p>
  </div>


  <div>
    <h2>Our Store Locations</h2>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1L_4bM3sNLo5sX19X4gAH-ArZllDizhI&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
  </div>


  <footer class="site-footer">
    <div class="container">
      <p>© 2024 BeautyCo. All rights reserved.</p>
      <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
  </footer>
</body>
</html>
