<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Searchable List</title>
  <link rel="stylesheet" href="filter.css">
</head>
<body>

<h2>Search</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items..">


  <div class="search-container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items..">
    <ul id="myUL">
      <li><a href="#">Moisturizer</a></li>
      <li><a href="#">Sunscreen</a></li>
      <li><a href="#">Bil</a></li>
      <li><a href="#">Bob</a></li>
      <li><a href="#">Calvin</a></li>
      <li><a href="#">Christina</a></li>
      <li><a href="#">Cindy</a></li>
    </ul>
  </div>

  <script src="filter.js"></script>
  </body>


</html>
